doctype html
html
  //
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        -------------
                          C O I N K
                        -------------

    crypto money portfolio

    because it's hard to know the value of all of your
    obscure cryptographic money :(

    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  head
    title Coink: Your Cryptocoin Portfolio
    meta(name="description", content="Breathe insight into your crypto-holdings")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="UTF-8")
    link(rel="stylesheet", type="text/css", href="css/styles.css")
  body
    script var urlRoot = (window.location.hostname == "coink.io" ? "https://coink.io/api" : "http://private-d789-coink.apiary.io")
    script(data-main='/js/main.js', src='/js/vendor/require.js')
    #coink
