.exchange-group
    width 75%
    background white

.collapse-parent
    margin-bottom: 1rem
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

.collapse-header
    background: rgb(200,200,200)
    color: #222222;
    padding: 1rem;
    display: block;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    &:hover
        cursor: pointer

.collapse-body
    background: #ffffff;
    color: #222222;
    padding: 1rem;
    display: block;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem;

.exchange-table-body
    border: solid 1px #dddddd

.account-row
    border: inherit
    background-color: #f9f9f9;
    &:hover
        cursor: pointer
    a:hover
        text-decoration: underline

.currency-row
    border: inherit
    background-color: white !important
