.exchange-group
    width 75%
    background white

.collapse-parent
    margin-bottom: 1rem;

.collapse-header
    background: #efefef;
    color: #222222;
    padding: 1rem;
    display: block;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    &:hover
        cursor: pointer

.collapse-body
    background: #ffffff;
    color: #222222;
    padding: 1rem;
    display: block;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem;
