LD_SIZE=128px
LD_FRAMES=6

@keyframes run
	for i in (0..LD_FRAMES)
		{100% * (i/LD_FRAMES)}
			background-position 0 (-(LD_SIZE*i))

#loader-container
	text-align center
	padding 2em

#loader
	display inline-block
	width LD_SIZE
	height @width
	background url('/img/RunningPigAll.svg')
	background-size 100%
	animation run infinite (0.2s * LD_FRAMES) steps(1)
