#sidebar .nav > li
	a[href="wallets"]
		background-image url('/img/WalletIcon.svg')

	a[href="exchanges"]
		background-image url('/img/ExchangesIcon.svg')

	a[href="help"]
		background-image url('/img/HelpIcon.svg')

	a[href="about"]
		background-image url('/img/AboutIcon.svg')